<div class='column'>
  <h2 class='title pb-4'>Log In:</h2>
  <div class="login-container">
    <form class='login-form'>
      <div>
        <label for='email-login'><strong>Email:</strong></label><br><br>
        <input type='text' id='email-login' />
      </div><br><br>
      <div><br>
        <label for='password-login'><strong>Password:</strong></label><br><br>
        <input type='password' id='password-login' />
      </div>
    <br><br><br><br>
    <div>
      <button type='submit' class='button is-primary' id="login-btn">Log In</button>
      <a href='/signup'><button
          type='button'
          class='button is-danger'
          id="signup-btn"
        >Sign Up</button></a>
      </div>  
    </div>
  </form>
</div>
<!-- javascript file-->
<script src='/javascript/login.js'></script>