<div class='column'>
  <h2 class='title pb-4'>Create New Account:</h2><br>
  <div class="signup-container">
    <form class='signup-form'>
      <div>
        <label for='username-signup'><strong>Username:</strong></label>
        <input type='text' id='username-signup' />
      </div><br><br>
      <div>
        <label for='email-signup'><strong>Email:</strong></label>
        <input type='text' id='email-signup' />
      </div><br><br>
      <div>
        <label for='twitter-signup'><strong>Twitter:</strong></label>
        <input type='text' id='twitter-signup' />
      </div><br><br>
      <div>
        <label for='github-signup'><strong>Github:</strong></label>
        <input type='text' id='github-signup' />
      </div><br><br>
      <div>
        <label for='password-signup'><strong>Password:</strong></label>
        <input type='password' id='password-signup' />
      </div><br><br><br>
      <div>
        <button type='submit' class='button is-primary'>Sign Up</button>
      </div>
    </form>
  </div>
</div>

<!-- javascript file-->
<script src='/javascript/signup.js'></script>