:root {
    --light-grey: #C9C6C4;
    --eggshell: #FEF9F0;
    --pink: #FAC0B3;
    --blue: #26979F;
    --light-blue: #C8F0EF;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-family: var(--bs-font-sans-serif);
    background-color: var(--pink);
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 100px;
}

.login {
    width: 400px;
    overflow: hidden;
    margin: 20 0 0 450px;
    margin: auto;
    padding: 100px;
    background: var(--blue);
    border-radius: 25px;
}

h1 {
    text-align: center;
    padding: 30px;

}

label {
    font-size: 1.4em;
}

#username, #password {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
}

#login, #signup {
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 20px;  
    padding-left: 10px;  
    color: black; 
}

span {  
    color: white;  
    font-size: 17px;  
}  
a {  
    float: right;  
}  